~*
.ipynb_checkpoints/
.idea
.vscode
**/_build


**/data/1_HAADF_Aligned.hdf5
**/data/1_HAADF_SIRT150_10Slices.hdf5
**/data/1_HAADF_SIRT150_Full.hdf5
**/data/1_HAADF_WBP.hdf5
**/data/1_HAADF_WBP_full.hdf5
**/data/DM_GOS/*
lazy_demo_data_hyperspy_**.hspy
NW_GaAs_ZB_WZ_pyxem_sample.hdf5
hyperspy_tutorial*.zip
