/* Better colors for notes and admonitions */
.alert-info {
    background-color: #f8fbff;
    border-color: #008cba;
    color: #222222;
}

.alert-warning {
    background-color: #fff9ee;
    border-color: #d08002;
    color: #222222;
}

/* Align last column of table to the left */
table.left-align-last-col td:last-child {
    text-align: left !important;
}

/* Use this to hide the search box (couldn't figure out how to turn it off otherwise) */
/*.form-group {*/
/*    visibility: hidden;*/
/*}*/

.caption-text {
    /*font-variant: small-caps;*/
    font-size: smaller;
    font-style: italic;
}

/* Style sub-heading with italics */
h2 {
    font-style: italic;
}

/* Customize sidebar styling */
/*div.bs-sidenav  ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0 0 0 1em;*/
/*}*/

/* Remove extra margins around multi-line blocks: */
.line-block {
    margin-top: 0;
    margin-bottom: 0;
}

/* Center table headers */
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    text-align: center;
}

/*!* Move the main container down a bit to prevent overlap with the navbar *!*/
/*div#navbar + div.container {*/
/*    margin-top: 50px;*/
/*}*/

/*!* Add some margin buffer for the footer so the NIST footer does not overlap the TOC *!*/
/*.footer:before {*/
/*  margin-bottom:100px;*/
/*}*/


/* Styling for the download buttons */

.links-container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* margin-top: 2em; */
}

.links-container-grid-v {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin-top: 1em;
    width: 90%;
}

.container-link {
    background-color:#656565;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #adadad;
    cursor:pointer;
    color:#ffffff;
    text-decoration:none;
    text-align: center;
    text-shadow:0px 1px 0px #3f3f3f;
    align-self: center;
    padding: 0.5em 0.25em;
}
.container-link:hover {
    background-color:#949494;
}
.container-link:active {
    position:relative;
    top:1px;
}

a.container-link:hover, a.container-link:focus {
    color: white;
    text-decoration: none;
}

.custom-table {
    display: table !important;
    text-align: center !important;
}

.instructor-table {
    font-size: smaller;
}

table.instructor-table tr td:nth-child(2) {
    padding: 1em 0.5em;
}

.announcement {
    background-color: #3677a9;
    color: white;
}

#ln-blackout {
    z-index: 50;
}
#ln-messageHolder {
    z-index: 51;
}