/* Make tables bigger */
table.table {
    font-size: .8em;
}

.text_cell.rendered .rendered_html tr, .text_cell.rendered .rendered_html th, .text_cell.rendered .rendered_html td {
    text-align: center;
}


/* Make padding on cells larger */
.CodeMirror-lines[role="presentation"] {
    padding: 0px 0px 1em 0;
}

/* make mark tag more obvious */
mark {
    text-decoration: underline;
    background-color: #d6e0fb;
    /* color: white; */
    padding: .1em;
}

/* remove scrollbars */
.rise-enabled ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.rise-enabled section{
  scrollbar-width: none;
}

.rise-enabled .vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  bottom: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rise-enabled .fig-caption {
  position: absolute;
  margin: auto;
  max-width: 45%;
  width: 45%;
  right: 0;
  text-align: center;
  bottom: 28%;
  height: auto;
  display: block;
  font-style: italic;
  color: #4a4a4a;
  font-size: x-large;
}

.rise-enabled .fig-caption-center {
  position: relative;
  margin: auto;
  max-width: 55%;
  width: 55%;
  text-align: center;
  bottom: 28%;
  height: auto;
  display: block;
  font-style: italic;
  color: #4a4a4a;
  font-size: xx-large;
}

.rise-enabled .two-cols{
  display: flex;
  top: 25%;
  position: relative;
}
.rise-enabled .col{
  flex: 1;
}
.rise-enabled .col > ul > ul > li {
  font-weight: normal !important;
}
.rise-enabled .col.pro-con > ul {
  font-size:0.8em;
}

.rise-enabled .pro-con li {
  font-weight: bold;
  margin-bottom: 4%;
}


.rise-enabled .text_left_im_right > ul {
  max-width: 50%;
  float: left;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rise-enabled .text_left_im_right > p ~ ul {
  max-width: 50%;
  float: left;
  font-size: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.rise-enabled .text_left_im_right > img,
.rise-enabled .text_left_im_right > video {
  position: absolute;
  max-width: 45% !important;
  right: 0;
  bottom: 18%;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: "Lato", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.11em; 
  font-weight: bolder;
}

  .reveal h2 {
  font-size: 1.55em; 
  font-weight: bold;
}

.reveal h3 {
  font-size: 1em; 
  font-weight: bold;
}

.reveal h4 {
  font-size: 0.8em; }

.reveal h1 {
  text-shadow: none; }

.reveal h6 {
  font-size: .7em;
  font-style: unset; }

/* this is for styling the overlay
 * when using header / footer and backimage
 *
 * see metadata in notebook
 */

 section.section_header > h2 {
  color:white;
  position: static !important;
  top: auto !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  justify-content: flex-start !important;
  text-align: center;
  left: auto !important;
  right: auto !important;
  font-variant: small-caps;
  font-size: 2em;
  font-weight: bold;
}

#rise-header {
    margin: 20px;
    left: 5%;
}

#rise-footer {
    margin: 1.0em;
    left: 0%;
}

#rise-backimage {
    opacity: 1;
}

.reveal img {
    max-width: 100%;
}

#exit_b {
	font-size: 2em;
	top: 0.9em !important;
	left: 0.5em !important;
}

#help_b {
	font-size: 2em;
	top: 0.9em !important;
	left: 1.6em !important;
}

/* Image on first slide: */
/* #slide-0-0 {
    background-image: url(img/hyperspy_banner.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: -1 200px;
    background-origin: content-box;
} */

/* Make notebook color background white */
/* #notebook {
  background-color: white;
} */
.notebook_app {
  background-color: white;
}


table#ecosystem {
  table-layout: fixed;
  /* max-width:100%;  */
  width: unset; 
  /* height:100%; */
  /* font-size:.8em; */
  margin-left:auto;
  margin-right:auto;
}

table#ecosystem td.section-label{
  font-size:80%;
}

table#ecosystem td.link-col {
  word-break: break-word;
  width: 45vw;
  font-size: 60%;
  /* overflow: hidden; */
}

table#ecosystem td.label-col {
  width:15vw;
  font-size: 70%;
  /* word-break: break-word; */
}

table#ecosystem > tbody > tr > td > a {
  font-size: 0.9em;
}

#python_ecosystem img {
  height:200px;
  background-color: none;
  text-shadow: none;
  box-shadow: none;
}


blockquote{
  font-size: 30px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

blockquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

.rise-enabled .reveal a {
  color: rgb(41, 110, 170);
}

p{
  margin: 0;
}

footer{
  margin:0;
  text-align: right;
  font-size: 1em;
  font-style: italic;
}

/* Custom progress bar color */
.rise-enabled .reveal .progress span {
  background: #26386d;
}