/* Better colors for notes and admonitions */
.alert-info {
    background-color: #f8fbff;
    border-color: #008cba;
    color: #222222;
}

.alert-warning {
    background-color: #fff9ee;
    border-color: #d08002;
    color: #222222;
}

/* Align last column of table to the left */
table.left-align-last-col td:last-child {
    text-align: left !important;
}

/* Use this to hide the search box (couldn't figure out how to turn it off otherwise) */
.form-group {
    visibility: hidden;
}

.caption-text {
    /*font-variant: small-caps;*/
    font-size: smaller;
    font-style: italic;
}

/* Move the main container down a bit to prevent overlap with the navbar */
div#navbar + div.container {
    margin-top: 50px;
}

/* Styling for the download button */



.downloadbutton {
	margin-top:25px;
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-align: center;
	text-shadow:0px 1px 0px #2f6627;
}
.downloadbutton:hover {
	background-color:#39a656;
}
.downloadbutton:active {
	position:relative;
	top:1px;
}

a.downloadbutton:hover, a.downloadbutton:focus {
	color: white;
	text-decoration: none;
}